SOA_Session2/Discovery_Calculator_ChoiceBPEL/src/main/resources/CalculatorProcess.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://discovery.das.ufsc.br/CalculatorProcess/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CalculatorProcess" targetNamespace="http://discovery.das.ufsc.br/CalculatorProcess/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://discovery.das.ufsc.br/CalculatorProcess/">
      <xsd:element name="Calculate">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="operation" type="xsd:string"></xsd:element>
          	<xsd:element name="num1" type="xsd:float" />
          	<xsd:element name="num2" type="xsd:float"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CalculateResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="response" type="xsd:float"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CalculateFault">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="error"
      				type="xsd:string">
      			</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CalculateRequest">
    <wsdl:part element="tns:Calculate" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="CalculateResponse">
    <wsdl:part element="tns:CalculateResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="CalculateFault">
  	<wsdl:part name="parameters" element="tns:CalculateFault"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CalculatorProcess">
    <wsdl:operation name="Calculate">
      <wsdl:input message="tns:CalculateRequest"/>
      <wsdl:output message="tns:CalculateResponse"/>
            <wsdl:fault name="fault" message="tns:CalculateFault"></wsdl:fault>
        </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CalculatorProcessSOAP" type="tns:CalculatorProcess">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Calculate">
      <soap:operation soapAction="http://discovery.das.ufsc.br/CalculatorProcess/Calculate"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalculatorProcess">
    <wsdl:port binding="tns:CalculatorProcessSOAP" name="CalculatorProcessSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
