SOA_Session2/Add_Multiply_ChoiceBPEL/src/main/resources/CalculatorProcess.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://das.ufsc.br/CalculatorProcess/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CalculatorProcess" targetNamespace="http://das.ufsc.br/CalculatorProcess/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://das.ufsc.br/CalculatorProcess/">
      <xsd:element name="compute">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="operation" type="xsd:string" />
          	<xsd:element name="num1" type="xsd:float"></xsd:element>
          	<xsd:element name="num2" type="xsd:float"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="computeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="xsd:float"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    
      <xsd:element name="computeFault">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="computeFault" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="computeRequest">
    <wsdl:part element="tns:compute" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="computeResponse">
    <wsdl:part element="tns:computeResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="computeFault">
  	<wsdl:part name="parameters" element="tns:computeFault"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CalculatorProcess">
    <wsdl:operation name="compute">
      <wsdl:input message="tns:computeRequest"/>
      <wsdl:output message="tns:computeResponse"/>
            <wsdl:fault name="fault" message="tns:computeFault"></wsdl:fault>
        </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CalculatorProcessSOAP" type="tns:CalculatorProcess">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="compute">
      <soap:operation soapAction="http://das.ufsc.br/CalculatorProcess/compute"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalculatorProcess">
    <wsdl:port binding="tns:CalculatorProcessSOAP" name="CalculatorProcessSOAP">
      <soap:address location="http://das.ufsc.br/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
