SOA_Session2/Discovering_CEP_Service_BPEL/src/main/resources/Discovering_CEP_Process.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://das.ufsc.discovery.br/Discovering_CEP_Process/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Discovering_CEP_Process" targetNamespace="http://das.ufsc.discovery.br/Discovering_CEP_Process/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://das.ufsc.discovery.br/Discovering_CEP_Process/">
      <xsd:element name="findCEP">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="cep" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="findCEPResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="cepInfo" type="tns:CEP_Response" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    
      <xsd:complexType name="CEP_Response">
      	<xsd:sequence>
      		<xsd:element name="cep" type="xsd:string"></xsd:element>
      		<xsd:element name="address" type="xsd:string"></xsd:element>
      		<xsd:element name="neighborhood" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="findCEPRequest">
    <wsdl:part element="tns:findCEP" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="findCEPResponse">
    <wsdl:part element="tns:findCEPResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="Discovering_CEP_Process">
    <wsdl:operation name="findCEP">
      <wsdl:input message="tns:findCEPRequest"/>
      <wsdl:output message="tns:findCEPResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Discovering_CEP_ProcessSOAP" type="tns:Discovering_CEP_Process">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="findCEP">
      <soap:operation soapAction="http://das.ufsc.discovery.br/Discovering_CEP_Process/findCEP"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Discovering_CEP_Process">
    <wsdl:port binding="tns:Discovering_CEP_ProcessSOAP" name="Discovering_CEP_ProcessSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
